@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* !!!!!!!!! Layer Components !!!!!! */
@layer components {
  .section {
    @apply px-4 mx-auto mt-8 lg:w-1200 lg:px-0 lg:mt-20;
  }
  .nav-item {
    @apply p-0 font-semibold bg-transparent rounded-none hover:bg-transparent lg:pb-2;
  }
  /* !!!!!!!! About US section in home page !!!!!! */
  .about-cart {
    @apply z-10 flex flex-col items-start justify-between gap-4 p-10 rounded-lg shadow-lg lg:flex-row bg-priColor;
  }
  .about-icon-container {
    @apply w-16 h-16 p-4 mx-auto duration-700 border-2 border-white rounded-full;
  }
}

/* !!!!!!!!!!! My Custom Glass Background !!!!!!!!!!*/
.my-glass {
  backdrop-filter: blur(30px);
  background-color: #0037ff1b;
  -webkit-backdrop-filter: blur(9px);
}

/* !!!!!!!!! Custom CSS !!!!!!!! */
.nav > li > a.active {
  color: black;
  background: transparent;
  border-bottom: 3px solid #ffa500;
}
.nav > li > a:hover {
  color: #ffa500;
}
.banner-title {
  background-image: url("../src/assets/text-bg.jpg");
  background-position: right;
  background-size: 10em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* background-clip: unset; */
}
