@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* !!!!!!!!! Layer Components !!!!!! */
@layer components {
  .section {
    @apply px-4 mx-auto mt-8 lg:w-1200 lg:px-0 lg:mt-20;
  }
  .nav-item {
    @apply p-0 font-semibold bg-transparent rounded-none hover:bg-transparent lg:pb-2;
  }
  /* !!!!!!!! About US section in home page !!!!!! */
  .about-cart {
    @apply z-10 flex flex-col items-start justify-between gap-4 p-10 rounded-lg shadow-lg lg:flex-row bg-priColor;
  }
  .about-icon-container {
    @apply w-16 h-16 p-4 mx-auto duration-700 border-2 border-white rounded-full;
  }

  /* !!!!!!!!!!!!!! Get in touch section !!!!!!!!!!! */
  .contact-input {
    @apply px-3 py-2 font-semibold text-black bg-transparent border rounded border-priColor focus:outline-priColor;
  }
  .my-btn {
    @apply w-32 py-1 mx-auto font-bold text-white duration-700 border rounded-full cursor-pointer bg-priColor border-priColor hover:bg-transparent hover:text-priColor;
  }
}

/* !!!!!!!!!!! My Custom Glass Background !!!!!!!!!!*/
.my-glass {
  backdrop-filter: blur(30px);
  background-color: #0037ff1b;
  -webkit-backdrop-filter: blur(9px);
}

/* !!!!!!!!! Custom CSS !!!!!!!! */
.nav > li > a.active {
  color: black;
  background: transparent;
  border-bottom: 3px solid #ffa500;
}
.nav > li > a:hover {
  color: #ffa500;
}
.banner-title {
  background-image: url("../src/assets/text-bg.jpg");
  background-position: right;
  background-size: 10em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* background-clip: unset; */
}
.gallery-img-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 30px;
  z-index: -1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 10em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide:before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 16px;
  z-index: -1;
  height: 5px;
  border-radius: 50%;
  width: 90%;
  background-color: #ffa500;
}

.swiper-button {
  display: flex;
  position: absolute;
  top: calc(50% - 12px);
  z-index: 10;
  cursor: pointer;
}
.swiper-button svg {
  width: 1.5rem;
  height: 1.5rem;
}
.image-swiper-button-prev {
  background-color: #ffa500;
  padding: 6px;
  border-radius: 50%;
  top: -60px;
  color: #fff;
  right: 50px;
}
.image-swiper-button-next {
  background-color: #ffa500;
  padding: 5px;
  border-radius: 50%;
  top: -60px;
  right: 5px;
  color: #fff;
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
